<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/api/v1/manager/home"><span style="font-family: 'Rockwell',serif;">Zlagoda</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/category">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/check">Checks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/customer-card">Customer Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/employee">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/product">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/store-product">Store Products</a>
            </li>
        </ul>
        <a type="button" href="/api/v1/login" id="logout" class="btn btn-info btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg> Log out
        </a>
    </div>
</nav>
<div class="container-sm" id="table-container">
    <form th:method="PATCH" th:action="@{/api/v1/product/{idProduct}(idProduct=${product.getIdProduct()})}"
          th:object="${product}" class="needs-validation">
        <div class="mb-3">
            <label for="id_product" class="form-label">Product ID</label>
            <input class="form-control bg-light" name="id_product" id="id_product" th:field="*{idProduct}" readonly>
        </div>
        <div class="mb-3">
            <label for="category_number" class="form-label">Category Number</label>
            <select id="category_number" th:field="*{categoryNumber}" class="form-select"
                    aria-label="Select a category" required>
                <option th:each="category : ${categories}" th:text="${category.getCategoryName()}"
                        th:value="${category.getCategoryNumber()}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="product_name" class="form-label">Product Name</label>
            <input class="form-control" name="product_name" id="product_name" th:field="*{productName}"
                   required>
        </div>
        <div class="mb-3">
            <label for="characteristics" class="form-label">Characteristics</label>
            <textarea class="form-control" name="characteristics" id="characteristics" th:field="*{characteristics}"
                      required></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary btn-md btn-block">Update product</button>
            <a class="btn btn-outline-primary btn-md btn-block" th:href="@{/api/v1/product}">Back</a>
        </div>
    </form>
</div>
</body>
</html>