/*------Navbar css-----*/
.navbar {
    background-color: #003049;
}

.navbar .navbar-brand {
    margin: 5px;
    color: #EAE2B7;
}

.navbar .nav-link {
    color: #EAE2B7;
}

/*--------------------*/

/*-----Buttons css----*/
.btn-outline-warning {
    border-color: #FCBF49;
}

.btn-outline-warning:hover {
    background-color: #FCBF49;
}

.btn-outline-primary {
    border-color: #003049;
    color: #003049;
}

.btn-outline-primary:hover {
    border-color: #003049;
    background-color: #003049;
}

.btn-outline-primary:active:focus {
    border-color: #003049;
    background-color: #003049;
}

.btn-primary {
    background-color: #003049;
    border-color: #003049;
}

.btn-primary:hover {
    background-color: #003049;
}

/*--------------------*/

/*---Inputs css-------*/
.form-control:focus {
    border-color: #003049;
    box-shadow: 1px 3px #003049;
}

/*--------------------*/

#table-container {
    margin-top: 25px;
    vertical-align: middle;
}

#searchResults {
    height: 600px;
    overflow-y: auto;
    margin-top: 10px;
}
#searchResults thead th {
    position: sticky;
    top: 0;
}

#exportButton {
    margin-top: 30px;
}

#logout {
    position: absolute;
    right: 20px;
    background-color: #1E3050;
    border-color: #EAE2B7;
    color: #EAE2B7;
}
#account {
    position: absolute;
    right: 120px;
    background-color: #EAE2B7;
    border-color: #1E3050;
}
#logout2 {
    background-color: #EAE2B7;
    border-color: #1E3050;
    color: #1E3050;
}
