<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product in store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Zlagoda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/category">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/check">Checks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/customer-card">Customer Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/employee">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/product">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/sale">Sales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/store-product">Store Products</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-sm" id="table-container">
    <form th:method="PATCH" th:action="@{/api/v1/store-product/{upc}(upc=${storeProduct.getUpc()})}"
          th:object="${storeProduct}" class="needs-validation">
        <div class="mb-3">
            <label for="upc" class="form-label">UPC</label>
            <input class="form-control bg-light" name="upc" id="upc" th:field="*{upc}" readonly>
        </div>
        <div class="mb-3">
            <label for="upcProm" class="form-label">Promotional UPC</label>
            <select id="upcProm" th:field="*{upcProm}" class="form-select">
                <option th:selected="true" th:value='null'>Select a UPC for promotional product</option>
                <option th:each="storeProductUpc : ${storeProducts}" th:text="${storeProductUpc.getUpc()}"
                        th:value="${storeProductUpc.getUpc()}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="productId" class="form-label">Product ID</label>
            <select id="productId" th:field="*{idProduct}" class="form-select" required>
                <option th:selected="true" th:value="null">Select an ID</option>
                <option th:each="product : ${productIDs}" th:text="${product.getProductName()}"
                        th:value="${product.getIdProduct()}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="sellingPrice" class="form-label">Price</label>
            <input class="form-control" name="sellingPrice" id="sellingPrice" th:field="*{sellingPrice}"
                   required>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input class="form-control" name="quantity" id="quantity" th:field="*{productsNumber}"
                      required/>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isPromotional"
                   th:field="*{promotionalProduct}">
            <label class="form-check-label" for="isPromotional">
                Promotional product
            </label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary btn-md btn-block">Update product</button>
            <a class="btn btn-outline-primary btn-md btn-block" th:href="@{/api/v1/store-product}">Back</a>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        const $checkbox = $('#isPromotional');
        const $select = $('#upcProm');
        $checkbox.change(function () {
            if ($checkbox.is(':checked')) {
                $select.prop('required', true);
            } else {
                $select.prop('required', false);
                $select.val($select.find('option:first').val());
            }
        });
        $select.change(function () {
            if ($select.val() !== '')
                $checkbox.prop('required', true);
            else
                $checkbox.prop('required', false);
        })
    });
</script>
</body>
</html>