<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show products in store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg" id="navbar-custom">
    <a class="navbar-brand" href="/api/v1/cashier/home"><span style="font-family: 'Rockwell',serif;">Zlagoda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/category">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/check">Checks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/customer-card">Customer Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/product">Products</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Store Products</a>
            </li>
        </ul>
        <a type="button" href="/api/v1/login" id="logout" class="btn btn-info btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            Log out
        </a>
    </div>
</nav>
<div class="container" id="table-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control mt-4" id="upcSearch"
                       placeholder="Enter product UPC">
            </div>
            <div class="col-6 align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productType" id="allProducts" value="allProducts"
                           checked>
                    <label class="form-check-label" for="allProducts">
                        All products
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productType" id="promProduct"
                           value="promProduct">
                    <label class="form-check-label" for="promProduct">
                        Promotional product
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="productType" id="notPromProduct"
                           value="notPromProduct">
                    <label class="form-check-label" for="notPromProduct">
                        Not promotional product
                    </label>
                </div>
            </div>
            <div class="col">
                <label for="sortBy" class="form-label">Sort By</label>
                <select id="sortBy" class="form-select" disabled>
                    <option th:selected="true" th:value="sortByName">Name</option>
                    <option th:value="sortByQuantity">Quantity</option>
                </select>
            </div>
        </div>
    </div>
    <div id="searchResults" th:fragment="searchResults">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">UPC</th>
                <th scope="col">Promotional UPC</th>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Promotional product</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="storeProduct : ${storeProducts}">
                <th scope="row" th:text="${storeProduct.getUpc()}"></th>
                <td th:text="${storeProduct.getUpcProm()}"></td>
                <td>
                  <span th:each="product : ${products}"
                        th:if="${product.idProduct == storeProduct.idProduct}"
                        th:with="matchedProduct=${product}">
                    <span th:text="${matchedProduct.productName}"></span>
                  </span>
                </td>
                <td th:text="${storeProduct.getSellingPrice()}"></td>
                <td th:text="${storeProduct.getProductsNumber()}"></td>
                <td>
                  <span th:if="${storeProduct.getPromotionalProduct()}" class="text-success">
                        <svg style="fill:#1E3050" xmlns="http://www.w3.org/2000/svg" height="1.25em"
                             viewBox="0 0 448 512">
                            <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </span>
                    <span th:unless="${storeProduct.getPromotionalProduct()}" class="text-danger">
                        <svg style="fill:#dc3545" xmlns="http://www.w3.org/2000/svg" height="1.25em"
                             viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                  </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button id="exportButton" class="btn btn-lg btn-danger clearfix"><span class="fa fa-file-pdf-o"></span> Export to
        PDF
    </button>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        const initialTable = $('#searchResults').html();
        $('#upcSearch').on('input', function () {
            const upc = $(this).val();
            if (upc.trim() === '')
                $('#searchResults').html(initialTable);
            else
                performUPCSearch(upc);
        });
    });

    function updateTableStructure(response) {
        // Create the new table structure dynamically
        let newTable = $('<table class="table" id="newTable">');
        // Create the new table headers dynamically
        let newHeaders = $('<thead class="thead-dark">');
        let headerRow = $('<tr>');
        // Add the new headers
        headerRow.append('<th scope="col">UPC</th>');
        headerRow.append('<th scope="col">Product Name</th>');
        headerRow.append('<th scope="col">Price</th>');
        headerRow.append('<th scope="col">Quantity</th>');
        headerRow.append('<th scope="col">Characteristics</th>');

        newHeaders.append(headerRow);
        const newBody = $('<tbody>');
        // Iterate over the search results and create new rows
        const newRow = $('<tr>');
        // Create and append data cells
        newRow.append('<td>' + response.upc + '</td>');
        newRow.append('<td>' + response.productName + '</td>');
        newRow.append('<td>' + response.sellingPrice + '</td>');
        newRow.append('<td>' + response.productsNumber + '</td>');
        newRow.append('<td>' + response.characteristics + '</td>');
        // Append the new row to the new table body
        newBody.append(newRow);

        // Replace the old table with the new table
        $('#searchResults').html(newTable);

        // Append the new headers and body to the new table
        newTable.append(newHeaders, newBody);
    }

    function performUPCSearch(upc) {
        const url = "/api/v1/store-product/" + upc;
        $.get(url, response => {
            updateTableStructure(response);
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('input[name="productType"]').on('change', function () {
            let selectedRadio = $(this).val();
            let selectedSortBy = $('#sortBy').val();

            if (selectedRadio === 'promProduct') {
                performSearchOfPromoted(selectedSortBy);
                $('#sortBy').prop('disabled', false);
            } else if (selectedRadio === 'notPromProduct') {
                performSearchOfNotPromoted(selectedSortBy);
                $('#sortBy').prop('disabled', false);
            } else if (selectedRadio === 'allProducts') {
                getAllProducts(selectedSortBy);
                $('#sortBy').prop('disabled', true);
            }
        });

        $('#sortBy').on('change', function () {
            let selectedSortBy = $(this).val();
            let selectedRadio = $('input[name="productType"]:checked').val();

            if (selectedRadio === 'promProduct') {
                performSearchOfPromoted(selectedSortBy);
            } else if (selectedRadio === 'notPromProduct') {
                performSearchOfNotPromoted(selectedSortBy);
            } else if (selectedRadio === 'allProducts') {
                getAllProducts(selectedSortBy);
            }
        });

        function performSearchOfPromoted(sortBy) {
            const url = "/api/v1/store-product/getPromotional/" + sortBy;
            $.get(url, function (response) {
                $('#searchResults').html(response);
            });
        }

        function performSearchOfNotPromoted(sortBy) {
            const url = "/api/v1/store-product/getNotPromotional/" + sortBy;
            $.get(url, function (response) {
                $('#searchResults').html(response);
            });
        }
        function getAllProducts() {
            const url = "/api/v1/store-product/noFilters";
            $.get(url, function (response) {
                $('#searchResults').html(response);
            });
        }
    });
</script>
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css"/>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '#exportButton', function () {

            var data = [];
            var searchResults = $('#searchResults');
            searchResults.find('tbody tr').each(function () {
                var row = {};
                row["UPC"] = parseInt($(this).find('th').eq(0).text().trim());
                row["Promotional UPC"] = $(this).find('td').eq(0).text().trim();
                row["Product name"] = $(this).find('td').eq(1).text().trim();
                row["Price"] = $(this).find('td').eq(2).text().trim();
                row["Quantity"] = $(this).find('td').eq(3).text().trim();
                row["Promotional product"] = $(this).find('td').eq(4).text().trim();
                data.push(row);
            });

            var dataSource = shield.DataSource.create({
                data: data,
                schema: {
                    fields: {
                        "UPC": {type: Number},
                        "Promotional UPC": {type: Number},
                        "Product name": {type: String},
                        "Price": {type: Number},
                        "Quantity": {type: Number},
                        "Promotional product": {type: String}
                    }
                }
            });

            dataSource.read().then(function (data) {
                var pdf = new shield.exp.PDFDocument({
                    author: "Zlagoda",
                    created: new Date(),
                });

                pdf.addPage("a4", "portrait");


                pdf.table(
                    50,
                    50,
                    data,
                    [
                        {field: "UPC", title: "UPC", width: 100},
                        {field: "Promotional UPC", title: "Promotional UPC", width: 100},
                        {field: "Product name", title: "Product Name", width: 100},
                        {field: "Price", title: "Price", width: 50},
                        {field: "Quantity", title: "Quantity", width: 60},
                        {field: "Promotional product", title: "Promotional product", width: 80},
                    ],
                    {
                        margins: {
                            top: 50,
                            left: 50
                        }
                    }
                );

                var timestamp = new Date().toLocaleString();

                pdf.saveAs({
                    fileName: "StoreProductsReport" + timestamp
                });
            });
        });
    });
</script>
</body>
</html>